<h2>Add user to instance</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.submit 'Add user' %></div>
<% end %>
